/* Commun */

:root {   /* Palette couleurs */
  --lila-clair: rgb(223,214,239, 0.7);  /* (couleur,couleur,couleur, transparence) */
  --lila: rgb(190,172,223, 0.7);
  --lila-foncé: rgb(158,131,207, 0.7);
  --lila-trèsfoncé: rgb(125,89,191, 0.7);
  --lila-trèstrèsfoncé: rgb(93,48,175, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  /* quand on prend la largeur, avec le padding */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom right, white, var(--lila-foncé));
}

h3 {
  writing-mode: sideways-lr;   /*ecriture à la verticale */
  font-size: 3.25rem;
  margin-left: 8rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
  justify-self: center;
  padding: 5%;
}

/* Head et navbar */

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  gap: 50px;
  padding: 1% 1.5%;
  justify-content: space-between;
  font-size: 1.2rem;
  color: var(--lila-trèstrèsfoncé)
}
ul {
  display: flex; /* s'aligne sur l'axe horizontal */
  gap: 2.5rem;   /* Ecart entre les items */
  list-style: none; /* Enleve les puces de la liste */
  justify-content: right; /* alignement horizontal */
  color: var(--lila-trèstrèsfoncé);
  align-items: start;
  }

  .leftlogo {
    display: flex;
    justify-content: left;
    align-items: start;
  }


/* Index */

header {
  height: 100vh;  /* hauteur de la box dans laquelle le header est */
  display: flex;
  flex-direction: column; /* aligne le flex en colonne */
  justify-content: center;
  margin-top: -5rem;
}

.name {
  font-size: 7rem;
  margin-left: 15rem;
  color: var(--lila-trèstrèsfoncé);
}

.bonjour {
  font-size: 1.5rem;
  margin-left : 9rem;
}

.titre2 {
  font-size: 1.5rem;
  margin-left: 35rem;
  color: black;
  font-weight: bold;
  font-style: italic;
}

.letsgobtn {
  position: relative; 
  left: 70%;
  top: 15%;
  display: flex;
  height: 10%;
  width: 10%;
  padding: 10px;
  background-color: var(--lila-trèstrèsfoncé);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--lila);
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.buttons-reseaux a,
.buttons-contact a {
  width: 120px;           /* Largeur du rond */
  height: 120px;          /* Hauteur identique pour faire un cercle */
  background-color: var(--lila-trèstrèsfoncé); /* Couleur de fond du rond */
  border-radius: 50%;     /* Transforme le carré en cercle parfait */
  display: flex;          /* Aligne sur l'axe hroizontal */
  align-items: center;    /* Centrage vertical du logo*/
  justify-content: center;/* Centrage horizontal du logo */
  box-shadow: 0 4px 6px var(--lila-foncé); 
}

.buttons-reseaux {
  display: flex; 
  gap: 10%; /* espace entre les boutons */
  width: 35rem; /* largeur de la box */
  padding:10px; /* contour */
  background-color: white;
  border-radius: 10px;  /*arrondi des coins de la box */
  box-shadow: 0 4px 6px var(--lila-foncé);
  justify-content: center;
  position: absolute; /* empile le bouton sur les autres bloc de la page */
  left: 39%;
  top: 25%;
}

.buttons-contact {
  display: flex; 
  gap: 10%; 
  width: 25rem;
  padding: 10px;
  background-color: white;
  border-radius: 10px; 
  box-shadow: 0 4px 6px var(--lila-foncé);
  justify-content: center;
  position: absolute; 
  left: 58%;
  top: 20%;
}

.section-reseaux,
.section-contact {
  position: relative; /*Permet de changer les sections sans bouger le reste*/
  display: flex;
  min-height: 50vh;
  align-items: center;
}

.section-reseaux-contact {
  height: 100vh;
}

.buttons-reseaux svg,
.buttons-contact svg {
  width: 70%;
  height: 70%;
}



/* Section compétences */

.section-acquis,
.section-en-construction {
  position: relative; /*Permet de changer les sections sans bouger le reste*/
  display: flex;
  min-height: 50vh;
  align-items: center;
}

.check,
.en_constru {
  width: 80px; /* largeur */
  height: 80px; /* hauteur */
}

.html,
.css,
.python,
.javascript {
  display: grid;
  background-color: white;
  opacity: 0.8;
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--lila-trèsfoncé);
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 55%;
}

.html,
.python {
  position: absolute;    /*postition de la boite dans la section*/
  left:30%;
  top:25%;
}

.css,
.javascript {
  position: absolute;
  left:60%;
  top: 25%;
}

.titre_competence_html,
.titre_competence_css,
.titre_competence_python,
.titre_competence_javascript {
  font-size: 1rem;
  justify-self: center;
  align-items: start;
}

.competences_en_construction {
  margin-left: -75px;
}


/* Section Expériences */


ol {
  list-style-type: none;  /*enlève les puces devant la liste */
}


/* A propos */

.sport {
  height: 10px;
  width: 50px;
}

.livres {
  height: 10px;
  width: 50px;
}

.jeux-videos {
  height: 10px;
  width: 50px;
}

.boxes-interets {
  display: flex; 
  gap: 15px; /* espace entre les boutons */
}