* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section {
  height: 100vh; /* chaque section prend toute la hauteur de l'écran */
  scroll-snap-align: start; /* le haut de la section s'aligne avec le haut de l'écran */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h3 {
  writing-mode: sideways-lr;
}

/* Head et navbar */

ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  
}




/* Section index */

.buttons a {
  width: 50px;           /* Largeur du rond */
  height: 50px;          /* Hauteur identique pour faire un cercle */
  background-color: lavender; /* Couleur de fond du rond */
  border-radius: 50%;     /* Transforme le carré en cercle parfait */
  display: flex;          /* Centre le logo à l'intérieur */
  align-items: center;    /* Centrage vertical */
  justify-content: center; /* Centrage horizontal */
}

.buttons {
    display: flex; 
    gap: 15px; /* espace entre les boutons */
}

/* Section compétences */

.check,
.en_constru {
  width: 50px; /* largeur */
  height: 50px; /* hauteur */
}

/* Section Expériences */

ol {
  list-style-type: none;  /*enlève les puces devant la liste */
}