{%extends "base.html"%}
{%block titre%}Expériences | Portfolio de Margaux{%endblock%}

{%block contenu%}
<header class="titres">
    <h2 class="experiences">Expériences</h1>
</header>

<section class="jobs">
    <div class="titre_jobs">
        <h3>Jobs</h3>
    </div>
    <section class="timeline_jobs">
        <ol>
            <li>
                <time datetime="2015">2015</time> Professeur d'éducation physique
            </li>
            <li>
                <time datetime="2016">2016</time> Monitrice de stages sportifs
            </li>
            <li>
                <time datetime="2019">2019</time> Bpost - Factrice
            </li>
            <li>
                <time datetime="2022">2022</time> Bpost - Cheffe d'équipe
            </li>
            <li>
                <time datetime="2026">Maintenant</time> Formation Developpeur Web
            </li>
        </ol>
        
    </section>
</section>

<section class="stages">
    <div class="titre_stages">
        <h3>Stages</h3>
    </div>
</section>

{%endblock%}